@keyframes arrowDown {
from{
    bottom: 55px;
    opacity: 0.7;
    }
to {
    bottom: 45px;
    opacity: 1;
    }
}

.slide-panel div a{
    animation: arrowDown  1.4s infinite ease;
    animation-direction: alternate;
}