/*  Reset Styles  */
body,input{
    font-family: GPL;
    color: #fff;
    font-size: 16px;
    background-color: darkslategrey;
}
body, p, span, a, li, ul, h1, h2, h3, h4, h5, h6, div, nav, article, section,form,input{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #D1DCBE;
}
h1, h2, h3, h4, h5, h6,{
    font-weight: 100;
}
input{
    border: 0px;
}
input:focus{
    outline: 0;
    outline-offset: 0;
}

/*  Style standart  */
h2{
    font-family: GPB;
    font-size: 32px;
    color: #183440;
}
.button{
    background-color: rgba(209, 220, 190);
    color: #fff;
    font-size: 16px;
    font-family: GPM;
    padding: 16px 40px;
    letter-spacing: 1.5pt;
}
.button-invert{
    background-color: rgba(209, 220, 190, 0);
    color: #fff;
    font-size: 16px;
    font-family: GPM;
    padding: 16px 40px;
    letter-spacing: 1.5pt;  
    border: 1px solid #D1DCBE;
    color: #D1DCBE;
}

slideBut{
    background-color: rgba(209, 220, 190, 0.8);
}


/*  Header  */
.header{
    background-color: #060D10;
    width: 100%;
    height: 80px;
}

/*  Logo  */
.logo{
    float: left;
    width: 20%;
    padding-top: 24px;
}
.logo a{
    padding-left: 20%;
    font-size: 24px;
    font-family: GPL;
    color: #fff;
}
.logo a span{
    font-size: 24px;
    font-family: GPL;
    color: #D1DCBE;
}

/*  Navigation  */
.header nav{
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
}
.header nav ul{
    display: flex;
    justify-content: center;
}
.header nav ul li:not(:last-of-type){
    margin-right: 50px;
}
.header nav ul li a{
    color: #fff;
}
.header nav ul li a:hover{
    color: #D1DCBE;
}


/*  Search  */
.search{
    float: right;
    width: 20%;
}
.search input[type='submit']{
    font-size: 14px;
    background-color: rgba(0,0,0,0);  
    background: url(../img/search_icon.png) no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 21px;
    float: right;
    margin-right: 20%;
    margin-top: 26px;
}
.search input[type='text']{
    font-size: 14px;
    background-color: rgba(0,0,0,0); 
    border-bottom: 1px solid #fff;
    float: right;
    margin-top: 26px;
    margin-right: 14px;
    width: 200px;
}
.search input[type='text']:focus{
    border-bottom: 1px solid #D1DCBE;
}
.search input[type='submit']:hover{
    background-position: -20px 0;
}



/*  Slider  */
.slider{
    width: 100%;
    height: 750px;
    background-color: #000;
    position: relative;
    z-index: 50;
}

/*  слайды  */
.RGSlides{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60;
}
.RGSlides li{
    width: 100%;
    height: 100%;
    display: none;
}
.RGSlides li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 70;
}
.RGSlides li article{
    width: 100%;
    height: 100%;   
    position: absolute;
    z-index: 80;
    background-color: rgba(0,0,0, 0.3);
    text-align: center;
    color: #fff;
}
.RGSlides li article h1{
    font-family: GPB;
    font-size: 50px;
    letter-spacing: 10pt;
    line-height: 50pt;
    padding-bottom: 120px;
    padding-top: 200px;
}
.RGSlides li article a{
    background-color: rgba(209, 220, 190, 0.8);
    color: #fff;
    font-size: 16px;
    font-family: GPM;
    padding: 16px 40px;
    letter-spacing: 1.5pt;
}
.RGSlides li.RGSlide-select{
    display: block;
}

/*  Переключатели  */
.RGSlider-controllers{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
}
/*  Стрелки  */
.RGSlCont-arrows{
    position: absolute;
    top: 42%;
    width: 100%;
    display: none;
}
.RGSlCont-arrows button{
    width: 40px;
    height: 40px;
}
.RGArrow-left{
    position: absolute;
    left: 20px;
}
.RGArrow-right{
    position: absolute;
    right: 20px;
}
/*  Кнопки  */
.RGSlCont-knobs{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    z-index: 100;
}
.RGSlCont-knobs button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgba(0,0,0,0);
}
.RGSlCont-knobs button:not(:last-of-type){
    margin-right: 2%;
}
.RGSlCont-knobs button:hover{
    opacity: 0.7;
}
.RGSlCont-knobs button.RGSliderKnob-select{
    background-color: #fff;
}



/*  AboutUs  */
.sec-AbUs{
    width: 100%;
    height: 600px;
    background-color: #fff;
}
.sec-AbUs img{
    width: 50%;
    height: 600px;
    float: left;
    object-fit: cover;
}
.sec-AbUs article{
    width: 50%;
    float: right;
    background-color: #fff;
    font-size: 18px;
    color: #000;
}
.secAbUs-pad{
    padding: 70px
}
.secAbUs-pad h2{
    padding-bottom:40px;
}
.secAbUs-pad p{
    line-height: 20pt;
    padding-bottom: 24px;
}
.btnA{
    line-height: 90pt
}


/*  Our Works  */
.our-work{
    width: 100%;
    background-color: #fff;
}
.ow-width{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    padding-bottom: 50px;
}
.ow-width h2{
    padding-bottom: 50px;
    
}
.ow-width ul{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.ow-width ul li{
    width: 32%;
    height: 250px;
    background-color: #000;
    margin-bottom: 35px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    position: relative;
    z-index: 10;
    text-align: center;
    overflow: hidden;
}
.ow-width ul li a{
    color: #fff;
}
.ow-width ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.70;
    position: absolute;
    left: 0;
    top: 0;
}
.ow-width ul li a h3{
    position: absolute;
    z-index: 15;
    width: 100%;
    font-family: GPB;
    font-size: 22px;
    top: 100px;
}
#ow-bt-width{
    width: 100%;
    text-align: center;
}
.btnB{
    line-height: 40pt;
}


/*  Services and Price  */
.services-price{
    width: 100%;
    height: 760px;
    background-image: url(../images/11.jpg);
}
.sp-black{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 52, 64, 0.8);
}
.sp-width{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.sp-width h2{
    color: #fff;
    position: absolute;
    width: 64.33333%;
    top: 55px;
    right: 0;
}
.sp-width ul{
    position: absolute;
    top: -30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sp-width ul li{
    width: 32%;
    height: 740px;
}
.sp-width ul li div{
    width: 89%;
    height: 530px;
    background-color: #183440;
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sp-width ul li div h3{
    font-size: 22px;
    font-family: GPB;
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    padding-top: 40px;
    padding-bottom: 30px;
    
}
.sp-width ul li div p{
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 18px;
    text-align: left;
    font-size: 16px;
    font-family: GPL;
    line-height: 18pt;
}
.sp-width ul li div h5{
    color: #D1DCBE;
    font-size: 30px;
    font-family: GPB;
    margin-top: 30px;
    margin-bottom: 50px;
}
.sp-width ul li div h5 span{
    font-size: 22px;
    font-family: GPL;
}
.sp-width ul li div a{
    font-size: 16px;
    font-family: GPM;
    padding: 16px 40px;
    border: 1px solid #D1DCBE;
}
.sp-width ul li:first-child{
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}
.sp-width ul li:first-child div{
    border: 1px solid #D1DCBE;
    background-color: #fff;
    color: #183440;
}
.sp-width ul li:first-child div p{
    font-family: GPM;
}
.sp-width ul li:first-child div h5{
    color: #183440;
}


/*  Our Personal  */
.our-personal{
    width: 100%;
    height: 700px;
    background-color: #fff;
    color: #183440;
}
.op-width{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
}
.op-width h2{
    padding-bottom: 40px;
}
.op-width ul{
    width: 100%;
}
.op-width ul li{
    width: 30.83333333333333%;
    height: 40px;
    float: left;
    margin-right: 3.74%;
    position: relative;
}
.op-width ul li:nth-child(1){
    height: 485px;
}
.op-width ul li:nth-child(2), .op-width ul li:nth-child(3){
    height: 233px;
    margin-bottom: 45px;
}
.op-width ul li:nth-child(4), .op-width ul li:nth-child(5), .op-width ul li:nth-child(6){
    width: 19.31166666666667%;
    height: 207px;
}
.op-width ul li:nth-child(3), .op-width ul li:nth-child(6){
    margin-right: 0px;
}
.op-width ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.op-width ul li p{
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(24, 25, 64, 0.6);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-family: GPB;
}
.op-width ul li p span{
    font-size: 18px;
    font-family: GPL;
}

/*  Send Message  */
.our-contacts{
    width: 100%;
    height: 500px;
    background-image: url(../images/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.our-contacts>div{
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0, 0.9);
}
.oc-width{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.oc-width h2{
    color: #fff;
    padding-top: 100px;
    padding-bottom: 40px;
}
.oc-width form{
    width: 100%;
}
.oc-width form input[type="text"]{
    width: 45.8333333%;
    background-color: rgba(0,0,0, 0);
    border-bottom: 1px solid #fff;
    font-family: GPL;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.oc-width form .your-name{
    margin-right: 8.015%;
    margin-bottom: 8px;
}
.oc-width form input[type="text"]:focus, input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px solid #D1DCBE;
    color: #D1DCBE;
}
.ypur-message{
    width: 100%;
    background-color: rgba(0,0,0, 0);
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: GPL;
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    resize: none;
}


/*  Footer  */
.main-footer{
    width: 100%;
    background-color: #060D10;
}
.mf-width{
    width: 80%;
    height: 110px;
    margin-left: 10%;
    margin-right: 10%;
}
.mf-width form{
    padding-top: 36px;
    width: 33%;
    float: left;
}
.mf-width form input[type="text"]{
    background-color: rgba(0,0,0, 0);
    border-bottom: 1px solid #fff;
    font-family: GPL;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.mf-width form input:focus{
    border-bottom: 1px solid #D1DCBE;
}
.mf-width form input.button-invert{
    font-family: GPb;
    font-size: 12px;
    padding: 6px 20px;
    margin-left: 10px;
}
.mf-width .mf-logo{
    margin-top: 40px;
    width: 33%;
    float: left;
    font-size: 24px;
    font-family: GPL;
    color: #fff;
    text-align: center;
}
.mf-width .mf-logo a{
    color: #fff;
}
.mf-width .mf-logo a span{
    font-size: 24px;
    font-family: GPL;
    color: #D1DCBE;
}
.mf-width p{
    width: 33%;
    float: right;
    text-align: right;
    line-height: 24pt;
    font-size: 16px;
    margin-top: 22px
}


/*  ClearFix  */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}